pip-line-chart {
  .nvd3 {
    .nv-axis {
      line {
        stroke-dasharray: 3, 3;
        stroke: rgba(0, 0, 0, 0.12);
      }

      .tick.zero {
        opacity: 0 !important;
      }

      path {
        stroke: rgba(0, 0, 0, 0.26);
      }

      text {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500 !important;
        fill: rgba(0, 0, 0, 0.54);
      }
    }

    .nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
        fill-opacity: 0 !important;
        stroke-opacity: 0 !important;
    }

    line.nv-guideline {
        stroke: #626262;
        stroke-width: 2;
    }

    .nv-x {
      .tick:not(.zero) {
        line {
          opacity: 0;
        }
      }
    }

    .nv-y {
      .tick:not(.zero) {
        line {
          opacity: 0;
        }
      }
    }

    &.nv-noData {
      font-size: 14px;
      font-family: Roboto;
      fill: rgba(0, 0, 0, 0.54);
      font-weight: normal;
    }
  }

  .visible-x-axis {
    .nvd3 {
      .nv-x {
        .tick:not(.zero) {
          line {
            opacity: 1;
          }
        }
      }
    }
  }

  .visible-y-axis {
    .nvd3 {
      .nv-y {
        .tick:not(.zero) {
          line {
            opacity: 1;
          }
        }
      }
    }
  }

  .minus-button, .plus-button, .visual-scroll {
    display: none;
  }

  &.dynamic {
    .line-chart {
      position: relative;
      .minus-button, .plus-button {
        display: block;
        position: absolute;
        bottom: 20px;
        background-color: transparent;
        color: rgba(0, 0, 0, 0.54);
        md-icon {
          color: rgba(0, 0, 0, 0.54);
        }
        box-shadow: none;
        &:hover, &.md-focused {
          background-color: transparent;
          box-shadow: none;
        }
      }

      .minus-button {
        right: 70px;
      }

      .plus-button {
        right: 20px;
      }

      .visual-scroll {
        transition: all 0.5s ease;
        opacity: 0;
        display: block;
        position: relative;
        height: 5px;
        width: ~"calc(100% - 50px)";
        margin-left: 30px;
        background-color: rgba(0, 0, 0, 0.26);
        border-radius: 2px;
        .scrolled-block {
          position: absolute;
          background-color: rgba(0, 0, 0, 0.26);
          height: 5px;
          transition: all 0.2s ease;
          border-radius: 2px;
        }
      }
    }

    svg {
      cursor: move;
      transition: background 0.5s;
      &:focus, &:hover {
        background-color: rgba(0, 0, 0, 0.06);
      }
    }
  }
}

//nv-interactiveGuideLine