//.tick.zero {
//  text {
//    font: 12px 'Roboto';
//  }
//}


pip-bar-chart {
  .bar-chart {
    text {
      font-size: 14px;
      font-family: 'Roboto';
    }

    .nv-zeroLine {
      display: none;
    }
  }

  .nvd3 .nv-discretebar .nv-groups {
    rect:hover {
      fill-opacity: inherit;
    }

    .nv-group {
      fill-opacity: 1!important;
    }

    text {
      font-weight: 500;
      fill: #ffffff;
    }
  }

  .static-chart-legend {
    margin-top: 17px;
    .legend-title {
      display: inline-block;
      margin-right: 10px;
      opacity: 0;
      margin-left: -50px;
      transition: all 0.5s ease;

      .bullet {
        width: 12px;
        height: 12px;
        border-radius: 6px;
        display: inline-block;
      }

      font-size: 12px;
      font-family: 'Roboto Medium';
      font-weight: 500;
      color: rgba(0, 0, 0, 0.54);

      &.visible {
        opacity: 1;
        margin-left: 0px;
      }
    }
  }
}