pip-bar-chart {
  .bar-chart {
    opacity: 0;
    margin-bottom: 20px;

    &.visible {
      opacity: 1;
    }

    text {
      font-size: 14px;
      font-family: 'Roboto';
    }

    .nv-zeroLine {
      display: none;
    }
  }

  .nvd3 .nv-discretebar .nv-groups {
    rect:hover {
      fill-opacity: inherit;
    }

    .nv-group {
      fill-opacity: 1!important;
    }

    text {
      font-weight: 500;
      fill: #ffffff;
    }
  }
}