pip-pie-chart {
  .pie-chart {
    display: inline-block;
    position: relative;
    .pip-empty-pie-text {
      position: absolute;
      font-family: Roboto;
      font-size: 14px;
      width: ~"calc(100% - 120px)";
      top: ~"calc(50% - 15px)";
      left: 60px;
      text-align: center;
      color: rgba(0, 0, 0, 0.54);
    }
  }

  svg.nvd3-svg {
    width: auto;
    .nv-noData {
      display: none;
    }
  }

  .circle {
    .nvd3.nv-pie {
      .label-total {
        fill: white !important;
      }
    }
  }

  .nvd3.nv-pie {
    path {
      fill-opacity: 1 !important;
    }

    .label-total {
        transition: opacity 0.35s ease;
        font-family: Roboto;
        //font-size: 48px !important;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        text-align: center;
    }

    .nv-pieLabels {
      .nv-label text {
        font-family: Roboto;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        text-align: center;
        fill: #ffffff !important;
        dominant-baseline: middle;
      }
    }
  }
}